extends ../layout
block content
  h1 Edit Gift from #{guest.name}
  form(action='/#{guest.id}/gifts/#{gift.id}?_method=PUT', method="post")
    h4 Description of gift
    input(type="textbox", name="description", value="#{gift.description}")
    h4 Link to image of gift <em>*optional*</em>
    input(type='text', name="img" value="#{gift.img || ''}")
    br
    input(type='submit', value="submit")
  form(action="/#{guest.id}/gifts/#{gift.id}?_method=DELETE", method='post')
      input(type="submit", value="Delete Gift")
